{% load static %}
{% include "global/partials/head.html" %}
<body>
    <header>
        <a href="{% url 'all:home' %}" class="back-page">
            <i class="fas fa-arrow-left"></i>
        </a>
    </header>
    <main class="scroll-container hide-scrollbar">
        <section class="content-section" id="project-documentation">
            <div class="documentation-container">
                <h1 class="documentation-title">{{ articles.title }}</h1>
                <div class="readme-content">
                    {{ articles.text|safe }}
                </div>
                <div class="info-bottom">
                    <p class="article-date">{{ articles.created_it|date:"d/m/Y" }}</p>
                    <p class="article-category">{{ articles.category_name }}</p>
                </div>
                {% if error_message %}
                    <p class="error-message">{{ error_message }}</p>
                {% endif %}
            </div>
        </section>
        <section class="content-section" id="contact">
            {% include "global/partials/footer.html" %}
        </section>
    </main>
</body>
