{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Meu Portfólio{% endblock %}

{% block content %}
  <section class="hero parallax-container">
    <h1 class="word-of-day">EXPLORANDO CONCEITOS, CRIANDO SOLUÇÕES</h1>
    <img class='hero-image' src="{% static 'images/code.png' %}" alt="The real code in universe is the one that works">

    <div class="slider">
      <ul class="slider-marquee">
        <li><i class="devicon-python-plain"></i></li>
        <li><i class="devicon-django-plain"></i></li>
        <li><i class="devicon-flask-original"></i></li>
        <li><i class="devicon-fastapi-plain"></i></li>
        <li><i class="devicon-go-plain"></i></li>
        <li><i class="devicon-javascript-plain"></i></li>
        <li><i class="devicon-html5-plain"></i></li>
        <li><i class="devicon-css3-plain"></i></li>
        <li><i class="devicon-mysql-plain"></i></li>
        <li><i class="devicon-postgresql-plain"></i></li>
        <li><i class="devicon-mongodb-plain"></i></li>
        <li><i class="devicon-docker-plain"></i></li>
        <li><i class="devicon-linux-plain"></i></li>
        <li><i class="devicon-bash-plain"></i></li>
        <li><i class="devicon-git-plain"></i></li>
      </ul>
    </div>
  </section>

  <section class="sections">
    <div class="about-content">
        <h2>Sobre Mim</h2>
        <p>
          Sou Felipe Napoli, estudante de Engenharia de Software e também em Nutrição, com foco nas áreas Neurológica e Oncológica. Paralelamente à tecnologia,
          desenvolvo pesquisas acadêmicas, artigos epidemiológicos e revisões científicas dentro dessas áreas da saúde — sempre buscando integrar conhecimento
          técnico com aplicação real e impacto social. Como desenvolvedor autodidata, tenho experiência sólida com Python, utilizando frameworks como Django,
          Flask e FastAPI para construir APIs, aplicações web e sistemas completos.
        </p>
      </div>
      <div class="about-image">
        <img src="{% static 'images/myself6.png' %}" alt="Imagem de perfil">
      </div>
  </section>

  <section class="sections">
    <h2>Métricas</h2>
    <div class="metric">
      <h3>Projetos</h3>
      <p>4 em desenvolvimento</p>
      <p>5 concluídos</p>
    </div>
    <div class="metric">
      <h3>Experiencia</h3>
      <p>+2 anos</p>
      <p>Analista de Dados</p>
      <p>Desenvolvedor Backend</p>
    </div>
    <div class="metric">
      <h3>Contribuições</h3>
      <p>340 commits+</p>
      <p>1 open source contribution</p>
    </div>
    <div class="metric">
      <h3>Artigos</h3>
      <p>4 publicados (em nutrição)</p>
    </div>
  </section>


  <section class="sections" id="project">
      <h2>Projetos Recentes</h2>
      {% if projects %}
      <div class="projects">
        {% for project in projects %}
          <a class="project-card" href="{% url "portfolio:projects_detail" project.pk %}">
            {% if project.image %}
              <div class="project-image">
                <img src="{{ project.image.url }}" alt="{{ project.name }} preview">
              </div>
            {% else %}
              <div class="project-image">
                <p>Not Found</p>
              </div>
            {% endif %}
            <div class="project-info">
              <h3>{{ project.name }}</h3>
              <p>{{ project.sumary }}</p>
              <div class="project-tags">
                {% for tag in project.categories.all %}
                  <span class="tag">{{ tag.name }}</span>
                {% endfor %}
              </div>
            </div>
          </a>
        {% endfor %}
      {% else %}
        <h2>Ainda não há projetos.</h2>
      {% endif %}
      </div>
    </section>

  <section class="articles-section sections">
      <h2>Artigos</h2>
      {% if articles %}
      <div class="posts">
      {% for article in articles %}
          <a class="post-card" href="{% url "portfolio:articles_detail" article.pk %}">
            <div class="post-header">
              <h3>{{ article.title|truncatechars:15 }}</h3>
              <span class="post-date">{{ article.created_at|date:"d/m/Y" }}</span>
            </div>
            <p class="post-desc">{{ article.content|safe|striptags|truncatechars:150 }}</p>
            <div class="post-tags">
              {% for tag in article.categories.all %}
                <span class="tag">{{ tag.name }}</span>
              {% endfor %}
            </div>
            <div class="post-footer">
              <span class="post-author">por {{ article.author }}</span>
            </div>
          </a>
      {% endfor %}
      </div>
      <div class="see-more-wrapper">
        <a href="{% url 'portfolio:articles' %}" class="see-more-btn">Ver mais</a>
      {% else %}
        <h2>Ainda não há artigos.</h2>
      {% endif %}
      </div>

    </section>
{% endblock %}



{% block scripts %}
  <script src="{% static 'js/slider_marquee.js' %}"></script>
{% endblock %}