{% load static %}
{% load markdown %}
{% include "global/partials/head.html" %}
<body>
    {% include "global/partials/header.html" %}
    <main class="scroll-container hide-scrollbar">
        <section class="content-section home-section" id="home">
            <h1 class="intro-title">AQUI SUAS IDEIAS SÃO ESCRITAS E LANÇADAS</h1>
            <div class="intro-image-container">
                <img src="{% static 'images/gisplyapi.png' %}" alt="Prévia GistlyAPI">
            </div>
            <div class="spacer-block">
                {% include "global/partials/svgsicons.html" %}
            </div>
        </section>
        <section class="content-section" id="sobre">
            {% include "global/partials/about_me.html" %}
        </section>
        <section class="content-section projects-section" id="projetos">
            {% include "global/partials/myprojects.html" %}
        </section>
        <section class="content-section" id="metricas">
            METRICAS
            {# {% include "global/partials/contact.html" %} #}
        </section>
        <section class="content-section" id="artigos">
            <h1 class="intro-title">ARTIGOS</h1>
            <div class="articles-grid-container">

        {% for article in articles %}
                <a href="{% url "all:articles_focus" article.id %}" class="article-card">

                    <div class="article-text-group">
                        <h3 class="article-title">{{ article.title }}</h3>
                        <p class="article-summary">{{ article.text|markdownify|striptags|truncatechars:150 }}</p> 
                    </div>
                    <div class="info-bottom">
                        <p class="article-date">{{ article.created_it|date:"d/m/Y" }}</p>
                        <p class="article-category">{{ article.category_name }}</p>
                    </div>
                </a>
        {% endfor %}
        </div>

        <div class="more-articles-box">
            <a href="{% url "all:articles_blog" %}">VER MAIS</a>
        </div>

        </section>
        <section class="content-section" id="contato">
            {% include "global/partials/footer.html" %}
        </section>
    </main>
</body>