{% load static %}
{% load markdownify %}
<div class="articles-grid-container">
    {% for article in articles %}
        <a href="#" class="article-card">

            <div class="article-text-group">
                <h3 class="article-title">{{ article.title }}</h3>
                <p class="article-summary">{{ article.text|markdownify|striptags|truncatechars:150 }}</p> 
            </div>
            <p class="article-date">{{ article.created_it|date:"d/m/Y" }}</p>
        </a>
    {% endfor %}
</div>

<div class="more-articles-box">
    <a href="#">VER MAIS</a>
</div>