<footer class="footer"> {# Mantenha a classe rodape se tiver estilos específicos para ela #}
    <p>Copyright © 2025 Felipe Napoli Siqueira. Todos os direitos reservados.</p>
    <p>Contato: imfelipenapoli@gmail.com</p>
    <p>WhatsApp: +55 (11) 91771-5100</p>

    <div class="footer-icons">
        <a href="https://www.linkedin.com/in/felipenapolisqr" target="_blank"><i class="fi fi-brands-linkedin"></i></a>
        <a href="https://www.instagram.com/seu-usuario" target="_blank"><i class="fi fi-brands-instagram"></i></a>
        <a href="https://wa.me/5511917715100" target="_blank"><i class="fi fi-brands-whatsapp"></i></a>
        <a href="https://github.com/seu-usuario" target="_blank"><i class="fi fi-brands-github"></i></a>
    </div>
</footer>