{% load static %}
<footer class="footer">
    <div class="logos-footer">
        <a href="#">
        <img src="{% static 'images/logo_dio.png' %}" alt="Digital Inovation One">
        </a>
        <a href="#">
        <img src="{% static 'images/logo_udemy.png' %}" alt="Udemy">
        </a>
        <a href="#">
        <img src="{% static 'images/openAcademy_logo.png' %}" alt="Santander Open Academy">
        </a>
        <a href="#">
        <img src="{% static 'images/universidade-anhanguera-logo.png' %}" alt="Universidade Anhanguera">
        </a>
        <a href="#">
        <img src="{% static 'images/unicid_logo.png' %}" alt="Universidade Cidade São Paulo">
        </a>

    </div>
    <p>Desenvolvido com <span style="color: red;">❤</span> por Felipe Napoli Siqueira.</p>
    <p>Este site é um exemplo de portfólio pessoal.</p>
    <p>Fonte do projeto disponível no <a href="https://github.com/napolisiqueira/Portifolio" target="_blank">GitHub</a>.</p>
    <p>Para mais informações, entre em contato.</p> 
    <p>Email: <a href="mailto:imfelipenapoli@gmail.com">imfelipenapoli@gmail.com</a></p>
    <p>WhatsApp: +55 (11) 91771-5100</p>
    <div class="footer-icons">
        <a href="https://www.linkedin.com/in/felipenapolisqr" target="_blank">
        <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://www.instagram.com/felipenapolisqr" target="_blank">
        <i class="fab fa-instagram"></i>
        </a>

        <a href="https://wa.me/5511917715100" target="_blank">
        <i class="fab fa-whatsapp"></i>
        </a>

        <a href="https://github.com/napolisiqueira" target="_blank">
        <i class="fab fa-github"></i>
        </a>
    </div>
</footer>