<nav class="navbar">
    <div class="navbar-logo">
        <a href="#home">FELIPE NAPOLI</a>
    </div>
    <ul class="navbar-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#sobre">Sobre</a></li> 
        <li><a href="#projetos">Projetos</a></li> 
        <li><a href="#artigos">Artigos</a></li>
        <li><a href="#contato">Contato</a></li> 
        <li><a href="#"> |  </a></li> 
        <li><a href="https://github.com/napolisiqueira" target="_blank">Github</a></li> 

    </ul>
</nav>