{% load static %}
<h1 class="generic-section-content">MEUS PROJETOS</h1> {# Mantém o estilo do seu h1 #}

<div class="projects-grid">
    <a href="{% url "all:project_doc" owner="napolisiqueira" repo_name="GistlyAPI" %}" class="project-card">
        <div class="project-image-wrapper">
            <img src="{% static 'images/gisplyapi.png' %}" alt="Prévia GistlyAPI">
            <div class="project-name-ribbon">GistlyAPI</div>
        </div>
        <div class="project-info">
            <h3>GistlyAPI</h3>
            <p class="project-techs">Tecnologias</p>
            <p class="project-techs">Python, Flask, OpenAI, Whisper, Mistral 7B</p>
            <p class="project-summary">API de transcrição e resumo automático com IA para textos e áudios.</p>
        </div>
    </a>

    <a href="{% url "all:project_doc" owner="napolisiqueira" repo_name="Contact-Me-Agend" %}" class="project-card">
        <div class="project-image-wrapper">
            <img src="{% static 'images/Contact-me.png' %}" alt="Prévia E-commerce">
            <div class="project-name-ribbon">MEYU</div>
        </div>
        <div class="project-info">
            <h3>Agenda de Contatos</h3>
            <p class="project-techs">Tecnologias</p>
            <p class="project-techs">Python, Django, PostgreSQL, HTML, CSS</p>
            <p class="project-summary">Plataforma completa com autenticação, carrinho de compras e painel administrativo.</p>
        </div>
    </a>

    <a href="{% url "all:project_doc" owner="napolisiqueira" repo_name="API-Gerenciamento-Usuario-Post" %}"  class="project-card">
        <div class="project-image-wrapper">
            <img src="{% static 'images/image.png' %}" alt="Prévia Projeto 3">
            <div class="project-name-ribbon">API SGR</div>
        </div>
        <div class="project-info">
            <h3>Nome do Projeto 3</h3>
            <p class="project-techs">Tecnologias</p>
            <p class="project-techs">Python, Flask, Flask-JWT, Flask-Marshmallow</p>
            <p class="project-summary">Sistema de gerenciamento de Registro de Usuarios e Posts.</p>
        </div>
    </a>
</div>