{% load static %}

{% block header %}<link rel="stylesheet" href="{% static 'css/partials/header.css' %}">{% endblock header %}

<header>
    <nav>
    <a class="logo" href="{% url "portfolio:home" %}">FELIPE SIQUEIRA</a>
    <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-list">
        <li><a href="{% url "portfolio:home" %}">Home</a></li>
        <li><a href="{% url "portfolio:about" %}">Sobre Mim</a></li>
        <li><a href="{% url "portfolio:home" %}#project">Projetos</a></li>
        <li><a href="{% url "portfolio:articles" %}">Artigos</a></li>
        <li><a href="https://github.com/napolisiqueira" target="_blank">Github</a></li>
    </ul>
    </nav>
</header>

{% block script %}
    <script src="{% static 'js/navbar.js' %}"></script>
{% endblock %}