{% load static %}
<div class="icons-grid-container">
    <div class="skill-item">
        <img src="{% static "images/svg/python.svg" %}" alt="Python">
        <span class="skill-name">Python</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/django.svg" %}" alt="Django">
        <span class="skill-name">Django</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/flask.svg" %}" alt="Flask">
        <span class="skill-name">Flask</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/fastapi.svg" %}" alt="FastAPI">
        <span class="skill-name">FastAPI</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/go.svg" %}" alt="Go">
        <span class="skill-name">Go</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/mysql.svg" %}" alt="MySQL">
        <span class="skill-name">MySQL</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/mongodb.svg" %}" alt="MongoDB">
        <span class="skill-name">MongoDB</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/sqlite.svg" %}" alt="SQLite">
        <span class="skill-name">SQLite</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/linux.svg" %}" alt="Linux">
        <span class="skill-name">Linux</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/docker.svg" %}" alt="Docker">
        <span class="skill-name">Docker</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/git.svg" %}" alt="Git">
        <span class="skill-name">Git</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/gnubash.svg" %}" alt="GNU Bash">
        <span class="skill-name">GNU Bash</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/html5.svg" %}" alt="HTML5">
        <span class="skill-name">HTML5</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/css.svg" %}" alt="CSS3">
        <span class="skill-name">CSS3</span>
    </div>
    <div class="skill-item">
        <img src="{% static "images/svg/bootstrap.svg" %}" alt="Bootstrap">
        <span class="skill-name">Bootstrap</span>
    </div>
</div>