footer {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--white));
  text-align: center;
  padding: var(--spacing-sm) 0;
  margin-top: var(--spacing-lg);
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-xs);
  gap: var(--spacing-sm);
}

.logos-footer {
  display: flex;
  max-width: 70%;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-lg) auto;
  padding-bottom: var(--spacing-lg);
  padding-inline: var(--spacing-sm);
}

.logos-footer img {
  max-width: 80%;
}


@media (max-width: 999px) {
  .logos-footer {
    max-width: 90%;
  }
}