.logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(var(--primary-color));
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: var(--spacing-lg);
}

.nav-list li {
  letter-spacing: 0.1rem;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  position: relative;
  width: var(--spacing-lg); 
  z-index: 9999;
  height: 0.1rem;
  background-color: rgb(var(--white));
  margin: var(--spacing-xs); 
  transition: ease-in-out 0.3s;
}

.nav-list.active {
  transform: translateX(0);
  z-index: 999;
}


.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 999px) {
  html, body {
    overflow-x: hidden;
  }
  
  .nav-list {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    padding: 2rem;
    width: 50vw;
    height: 100vh;
    background-color: rgb(var(--primary-color));
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  
  .nav-list li {
    opacity: 0;
  }
  
  .mobile-menu {
    display: block;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}